html {
    background-color: white;
}
h1, h2, h3, h4, h5, h6 {
    color: orange;
}
P {
    color: black;
    font-size: 18px;
    font-family: Arial;
}
.pics {
  float: right;
  display: block;
  margin-left: auto;
  margin-right: 50;
  width: 50%;
  height: 200px;
}
.pictures {
    display: flex;
    align-items: flex-start; /* Align items at the top, or use 'center' for vertical centering */
    gap: 15px; /* Space between image and text */
    margin-bottom: 20px; /* Adds space between each image-text pair */
}
nav#hori ul {
    list-style-type: none;
    padding: 0;
    margin: 10;
    overflow: auto;
}
nav#hori ul li {
    float: left;
    margin: 0 10px;
}
nav#hori ul li a {
    display: block;
    background-color: darkblue;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    width: 100px;
    padding: 7px 0px 8px 0px;
    border-radius: 3px;
}
nav#hori ul li a:hover {
    background-color: #FFC300;
    color: darkblue;
    border-radius: 40px;
}